---
function pageUrl(page : string) {
  return import.meta.env.BASE_URL + page;
}
---

<nav>
  <ul>
    <li>
      <button class="primary" disabled>
        <big><strong>Ukulele Scores</strong></big>
      </button>
    </li>
    <li><a href={pageUrl("")}>Ukulele</a></li>
    <li><a href={pageUrl("/bass")}>Bass</a></li>
    <li><a href={pageUrl("/guitar")}>Guitar</a></li>
  </ul>
  <ul>
    <li><a href={pageUrl("/about")}>About</a></li>
  </ul>
</nav>
